"""This module contains the command-line interface."""

from __future__ import annotations

import click

from {{ package_name }}.__version__ import __version__


@click.command()
@click.help_option("-h", "--help")
@click.version_option(__version__, "-V", "--version")
def main() -> None:
    """Run the main program."""
    return


if __name__ == "__main__":
    main()
