*.egg-info
*.py[co]
.DS_Store
.cache/
.coverage
.coverage.*
.idea/
.hypothesis/
.mypy_cache/
.nox/
.pytest_cache/
.ruff_cache/
.tox/
.venv/
.vscode/
build/
dist/
htmlcov/
{%- if docs == 'mkdocs' %}
site/
{%- endif %}
src/{{ package_name }}/VERSION.txt
