# {{ project_name }}

[![PyPI](https://img.shields.io/pypi/v/{{ distribution_name }})](https://pypi.org/project/{{ distribution_name }}/)
[![Supported Python versions](https://img.shields.io/pypi/pyversions/{{ distribution_name }}?logo=python)](https://pypi.org/project/{{ distribution_name }}/)
[![CI](https://img.shields.io/github/actions/workflow/status/{{ repository_path }}/ci.yaml?branch=main&logo=github&label=CI)](https://github.com/{{ repository_path }}/actions/workflows/ci.yaml)
[![License](https://img.shields.io/github/license/{{ repository_path }})](https://github.com/{{ repository_path }}/blob/main/LICENSE)

## Installation

Install `{{ distribution_name }}` using [pip](https://pip.pypa.io/):

```console
$ pip install {{ distribution_name }}
```
{% if cli %}
## Invocation

Invoke `{{ distribution_name }}` using [uvx](https://docs.astral.sh/uv/):

```console
$ uvx {{ distribution_name }}
```
{% endif -%}
