requires = [
  "tox>=4.23.2",
  "tox-uv>=1.25",
  "uv>=0.8.6",
]
env_list = [
  "lint",
  "typecheck",
{%- if docs %}
  "docs",
{%- endif %}
  "3.14",
  "3.13",
  "3.12",
  "3.11",
  "3.10",
]
labels.checks = [
  "lint",
  "typecheck",
{%- if docs %}
  "docs",
{%- endif %}
]
labels.tests = [
  "3.14",
  "3.13",
  "3.12",
  "3.11",
  "3.10",
]

[env_run_base]
{%- if install == 'uv sync' %}
runner = "uv-venv-lock-runner"
{%- endif %}
description = "run tests under {env_name}"
package = "wheel"
wheel_build_env = ".pkg"
pass_env = [
  "PYTEST_*",
]
set_env = [
  { COVERAGE_FILE = { replace = "env", name = "COVERAGE_FILE", default = "{env_tmp_dir}{/}.coverage" } },
]
dependency_groups = [ "test" ]
commands = [
  [
    "coverage",
    "run",
    "-m",
    "pytest",
    { replace = "posargs", extend = true, default = [
      "--durations",
      "15",
      "-n",
      { replace = "env", name = "PYTEST_XDIST_AUTO_NUM_WORKERS", default = "auto" },
    ] },
  ],
  [ "coverage", "combine" ],
  [ "coverage", "report" ],
]

[env.lint]
description = "run pre-commit linting"
skip_install = true
pass_env = [
  "DISABLE_PRE_COMMIT_UV_PATCH",
]
set_env = [
  { FORCE_PRE_COMMIT_UV_PATCH = "1" },
]
dependency_groups = [ "lint" ]
commands = [
  [
    "pre-commit",
    "run",
    "--all-files",
    { replace = "posargs", extend = true },
  ],
]

[env.typecheck]
description = "typecheck Python code"
dependency_groups = [ "type" ]
commands = [
  [
    "mypy",
    { replace = "posargs", extend = true, default = [
      "src",
      "tests",
    ] },
  ],
]
{%- if docs == 'mkdocs' %}

[env.docs]
description = "build the documentation"
package = "editable"
dependency_groups = [ "docs" ]
commands = [
  [
    "mkdocs",
    "build",
    "--clean",
    "--strict",
    "--site-dir",
    "{env_tmp_dir}",
    { replace = "posargs", extend = true },
  ],
]

[env.autodocs]
description = "serve the documentation locally"
package = "editable"
dependency_groups = [ "docs" ]
commands = [
  [
    "mkdocs",
    "serve",
    "--strict",
    "--open",
    { replace = "posargs", extend = true },
  ],
]
{%- endif %}
