---
site_name: {{ project_name }}
site_url: {{ documentation_url }}/
repo_url: {{ repository_url }}
repo_name: {{ repository_path }}
edit_uri: edit/main/docs/
site_description: '{{ project_description }}'
site_author: {{ user_name }}
copyright: Copyright &copy; {{ copyright_year }} {{ copyright_owner }}

nav:
  - Home:
    - index.md
    - Changelog: changelog.md
  - Reference:
    - reference/index.md
    - API: reference/api.md
{%- if cli %}
    - Commands: reference/cli.md
{%- endif %}

validation:
  omitted_files: warn
  absolute_links: warn
  unrecognized_links: warn

theme:
  name: material
  features:
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    - content.tabs.link
    - navigation.footer
    - navigation.indexes
    - navigation.path
    - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
  palette:
    - media: '(prefers-color-scheme)'
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: '(prefers-color-scheme: light)'
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: '(prefers-color-scheme: dark)'
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

watch:
  - CHANGELOG.md
  - src/{{ package_name }}

markdown_extensions:
{%- if cli == 'click' %}
  - attr_list
  - mkdocs-click
{%- endif %}
  - pymdownx.highlight:
      use_pygments: true
      pygments_lang_class: true
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          inventories:
            - https://docs.python.org/3/objects.inv
          options:
            parameter_headings: true
            show_root_heading: true
            show_symbol_type_heading: true
            show_symbol_type_toc: true
            type_parameter_headings: true
            inherited_members: true
            members_order: source
            summary: true
            docstring_style: google
            docstring_options:
              ignore_init_summary: true
            docstring_section_style: table
            merge_init_into_class: true
            show_signature_annotations: true
            show_signature_type_parameters: true
            separate_signature: true
            signature_crossrefs: true
