"""This module contains the command-line interface."""

from __future__ import annotations

import argparse
from typing import TYPE_CHECKING

from {{ package_name }}.__version__ import __version__

if TYPE_CHECKING:
    from collections.abc import Sequence


def create_parser() -> argparse.ArgumentParser:
    """Create the argument parser.

    Returns:
        An argument parser.
    """
    parser = argparse.ArgumentParser(
        prog="{{ distribution_name }}",
        description="run the main program",
    )
    parser.add_argument(
        "-V", "--version", action="version", version="%(prog)s " + __version__
    )
    return parser


def main(argv: Sequence[str] | None = None) -> int:
    """Run the main program.

    Args:
        argv: Arguments passed from the command-line.

    Returns:
        An exit code.
    """
    parser = create_parser()
    parser.parse_args(argv)
    return 0
