"""This module contains the version test."""

from __future__ import annotations

from importlib.metadata import version

from {{ package_name }} import __version__


# https://packaging.python.org/en/latest/discussions/single-source-version/#single-sourcing-the-project-version
def test_version() -> None:
    """Test that the version is correct."""
    assert __version__ == version("{{ distribution_name }}")
