"""Tests for the command-line interface."""

from __future__ import annotations

import pytest
from click.testing import CliRunner

from {{ package_name }} import __version__
from {{ package_name }}.cli import main


def test_main() -> None:
    """Test the main program."""
    runner = CliRunner()
    result = runner.invoke(main)
    assert result.exit_code == 0


@pytest.mark.parametrize("option", ["--help", "-h"])
def test_show_help(option: str) -> None:
    """Test the help option of the command-line interface."""
    runner = CliRunner()
    result = runner.invoke(main, [option])
    assert result.exit_code == 0


def test_show_version() -> None:
    """Test the version option of the command-line interface."""
    runner = CliRunner()
    result = runner.invoke(main, ["--version"])
    assert result.exit_code == 0
    assert __version__ in result.stdout
