"""This module contains tests for the command-line interface."""

from __future__ import annotations

from typing import TYPE_CHECKING

import pytest

from {{ package_name }} import __version__
from {{ package_name }}.cli import main

if TYPE_CHECKING:
    from collections.abc import Sequence


def test_main() -> None:
    """Test the main program."""
    assert main([]) == 0


@pytest.mark.parametrize("option", ["-h", "--help"])
def test_show_help(option: str) -> None:
    """Test the help option of the command-line interface."""
    with pytest.raises(SystemExit) as excinfo:
        main([option])

    assert excinfo.value.code == 0


@pytest.mark.parametrize("option", ["-V", "--version"])
def test_show_version(option: str, capsys: pytest.CaptureFixture[str]) -> None:
    """Test the version option of the command-line interface."""
    with pytest.raises(SystemExit) as excinfo:
        main([option])

    assert excinfo.value.code == 0

    captured = capsys.readouterr()
    assert __version__ in captured.out
