"""Tests for the graphical user interface."""

from __future__ import annotations

from typing import TYPE_CHECKING

import pytest

from {{ package_name }}.__version__ import __version__
from {{ package_name }}.gui import App

if TYPE_CHECKING:
    from collections.abc import Generator


@pytest.fixture(scope="module")
def app() -> Generator[App]:
    """Create an app and destroy it on teardown."""
    root = App()
    root.withdraw()

    try:
        yield root

    finally:
        root.update_idletasks()
        root.destroy()


def test_app_title(app: App) -> None:
    """Test that the app title contains the project name and version."""
    title = app.title()
    assert "{{ distribution_name }}" in title
    assert __version__ in title
