"""The test for the version attribute."""

from __future__ import annotations

import importlib.metadata

from {{ package_name }} import __version__


# https://packaging.python.org/en/latest/discussions/single-source-version/#single-sourcing-the-project-version
def test_version() -> None:
    """Test that the version attribute matches the package version."""
    version = importlib.metadata.version("{{ distribution_name }}")
    assert __version__ == version
