"""This module contains the version."""

from __future__ import annotations

import importlib.resources


def get_version() -> str:
    """Read `VERSION.txt` and return its contents.

    Returns:
        Version string.
    """
    return (
        (importlib.resources.files("{{ package_name }}") / "VERSION.txt")
        .read_text(encoding="utf-8")
        .rstrip()
    )


__version__ = get_version()
