---
name: CI

on:
  push:
    branches: [main]
    tags-ignore: ["**"]
  pull_request: null
  workflow_dispatch: null

concurrency:
  group: {% raw %}${{ github.workflow }}-${{ github.ref }}{% endraw %}
  cancel-in-progress: true

permissions: {}

jobs:
  check:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        env:
          - lint
          - typecheck
{%- if docs %}
          - docs
{%- endif %}
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          github-token: {% raw %}${{ secrets.GITHUB_TOKEN }}{% endraw %}
      - name: Install tox and extend it with tox-uv
        run: >-
          uv tool install tox
          --python-preference only-managed
          --python 3.13
          --with tox-uv
      - name: Set up {% raw %}${{ matrix.env }}{% endraw %}
        run: >-
          tox run
          --notest
          --skip-missing-interpreters false
          -e {% raw %}${{ matrix.env }}{% endraw %}
      - name: Run {% raw %}${{ matrix.env }}{% endraw %}
        run: >-
          tox run
{%- if install == 'uv pip' %}
          --skip-pkg-install
{%- else %}
          --skip-uv-sync
{%- endif %}
          -e {% raw %}${{ matrix.env }}{% endraw %}

  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python_version:
          - "3.14"
          - "3.13"
          - "3.12"
          - "3.11"
          - "3.10"
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          github-token: {% raw %}${{ secrets.GITHUB_TOKEN }}{% endraw %}
      - name: Install tox and extend it with tox-uv
        run: >-
          uv tool install tox
          --python-preference only-managed
          --python 3.13
          --with tox-uv
      - name: Set up the test suite
        run: >-
          tox run
          --notest
          --skip-missing-interpreters false
          -e {% raw %}${{ matrix.python_version }}{% endraw %}
      - name: Run the test suite
        run: >-
          tox run
{%- if install == 'uv pip' %}
          --skip-pkg-install
{%- else %}
          --skip-uv-sync
{%- endif %}
          -e {% raw %}${{ matrix.python_version }}{% endraw %}
