"""The command-line interface."""

from __future__ import annotations

import cyclopts

from . import __version__

app = cyclopts.App(version=f"{{ distribution_name }}, version {__version__}")


@app.default
def main() -> int:
    """Run the main program.

    Returns:
        An exit code.
    """
    return 0


if __name__ == "__main__":
    app()
