---
name: CI

on:
  push:
    branches: [main]
    tags-ignore: ["**"]
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  check:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        env:
          - lint
          - typecheck
          - docs

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install tox
        run: >-
          uv tool install tox
          --python-preference only-managed
          --python 3.13
          --with tox-uv

      - name: Setup the check suite
        run: >-
          tox run
          --notest
          --skip-missing-interpreters false
          -e ${{ matrix.env }}

      - name: Run the check suite
        run: >-
          tox run
          --skip-pkg-install
          -e ${{ matrix.env }}
